<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>

<div class="container">
	<div class="col-xs-6">
		<table class="table">
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Body Weight KG</th>
				<th>Body Water %</th>
				<th>Body Fat %</th>
				<th>Bone Weight KG</th>
				<th>Visceral Fat ?</th>
				<th>Muscle Mass KG</th>
				<th>BMI</th>
				<th>BMR Kcal</th>
			</tr>

			<% @bodystats.each do |stat| %>
				<tr>
					<td><%= stat.id %></td>
					<td><%= stat.date %></td>
					<td><%= stat.body_weight %></td>
					<td><%= stat.body_water %></td>
					<td><%= stat.body_fat %></td>
					<td><%= stat.bone_weight %></td>
					<td><%= stat.visceral_fat %></td>
					<td><%= stat.muscle_mass %></td>
					<td><%= stat.bmi %></td>
					<td><%= stat.bmr %></td>
		 			<td><%= link_to 'Destroy', bodystat_path(stat),
		              method: :delete,
		              data: { confirm: 'Are you sure?' } %></td>		</tr>
			<% end %> 
		</table>
	</div>
</div>