<table>
	<tr>
		<th>Date</th>
		<th>Body Weight KG</th>
		<th>Body Water %</th>
		<th>Body Fat %</th>
		<th>Bone Weight KG</th>
		<th>Visceral Fat ?</th>
		<th>Muscle Mass KG</th>
		<th>BMI</th>
		<th>BMR Kcal</th>
	</tr>

	<% @bodystats.each do |stat| %>
		<tr>
			<td><%=  stat.date %></td>
			<td><%=  stat.body_weight %></td>
			<td><%=  stat.body_water %></td>
			<td><%=  stat.body_fat %></td>
			<td><%=  stat.bone_weight %></td>
			<td><%=  stat.visceral_fat %></td>
			<td><%=  stat.muscle_mass %></td>
			<td><%=  stat.bmi %></td>
			<td><%=  stat.bmr %></td>
		</tr>
	<% end %> 
</table>